{% extends 'basic_common/base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <form class="form-s" action="/upload_event/" method="post" role="form" enctype="multipart/form-data">
            <input id="input-img" name="file" type="file" class="file"  data-show-preview="false">
        </form>
    </div><!--/row-->
</div><!--/.container-->

<div class="buttom-o">
    <form class="form-inline justify-content-center" method="post" role="form">
      <label class="my-1 mr-2" for="inlineFormCustomSelectPref">图像处理类型:</label>
      <select class="custom-select my-1 mr-sm-2" name="process_type" id="inlineFormCustomSelectPref" onchange="showDiv('audio-s', this)">
<!--          <option selected>{{ pro_type }}</option>-->
<!--          <option value="1">无损放大</option>-->
<!--          <option value="2">去雾</option>-->
<!--          <option value="3">对比度增强</option>-->
<!--          <option value="4">黑白图像上色</option>-->
<!--          <option value="5">拉伸图像恢复</option>-->
<!--          <option value="6">图像风格转换</option>-->
          {% for k,v in op_dict.items() %}
            <option value="{{k}}" {% if pro_type == k %} selected {% endif %}>{{v}}</option>
          {% endfor%}
      </select>

      <div id="audio-s" style="margin-left: 1%; margin-right: 1%; display: none;">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                       value="cartoon">
                <label class="form-check-label" for="inlineRadio1">卡通</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                       value="pencil">
                <label class="form-check-label" for="inlineRadio2">素描</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary my-1">进行处理</button>
    </form>
</div><!--/.container-->


<div class="tech-img-content" style="background-color: yellow">
    <div class="title-o" style="background-color: #ffffff">
        <div class="title-s">
            <h4>Before</h4>
        </div>
    </div>
    <div class="tech-canvas-container">
        <img  class="img-show" src="{{ url_for('static', filename='./images/' + img_name ) }}" alt=""/>
    </div>
</div>

<div class="tech-img-content-r" style="background-color: yellow">
    <div class="title-o" style="background-color: #ffffff">
        <div class="title-s">
            <h4>After</h4>
        </div>
    </div>
    <div class="tech-canvas-container">
        <img  class="img-show" src="data:image/jpeg;base64,{{ img_base64 }}" alt="你的图片被外星人劫持了～～"/>
    </div>
</div>
{% endblock %}

{% block title %}
    YShun's Image Process
{% endblock %}

{% block body_title %}
<div class="title-o">
    <div class="title-s">
        <h4>Image Process with Baidu AI API</h4>
    </div>
</div>
{% endblock %}

{% block body_js %}
<script type="text/javascript">
function showDiv(divId, element)
{
    document.getElementById(divId).style.display = element.value == 6 ? 'block' : 'none';
}
</script>
{% endblock%}
